body {
	background-color: #333;
	color: #F0F0F0;
}


input,
select,
option,
.form-control {
	background-color: #444;
	border-color: #888;
	color: #F0F0F0;
}


html label {
	display: block;
	margin: 0;
	padding: 0;
}


.main_logo {
	display: block;
	max-width: 100%;
	max-height: 6em;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
}


@media (max-width: 767px) {
	.control-label {
		text-align: center;
	}
}


.form-control {
	padding: 0;
}


.logo {
	display: inline-block;
	max-height: 5em;
}
